

<form action="/login" method="post">
    
    <div class="mb-4">
        <input type="email" class="form-control" name="email" placeholder="Email address" autocomplete="email" required>
    </div>

    <div class="mb-4">
        <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="name" required>
    </div>

    <button type="submit" class="btn btn-warning  py-3 w-100">Sign in</button>

</form>

