

<nav class="d-flex align-items-center d-lg-none py-1 nav_mobile">
    
    <div class="logo ps-3 ps-sm-5">
        <a class="navbar-bran" href="/">
            <img src="/images/logo.png" alt="Fitness online brand">
        </a>
    </div>

    <div class="side_menu_btn ms-auto pe-3 pe-sm-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>

    <div id="side_menu" class="side_menu_close">
        <div class="close_btn d-flex justify-content-end pt-3 pe-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>

        <ul class="d-flex justify-content-center align-items-center flex-column m-0 p-0">
            <li class="">
                <a href="/" class="links">Home</a>
            </li>
            <li class=" mt-5">
                <a href="/programs" class="links">Programs</a>
            </li>
            <li class=" mt-5">
                <a href="/recipes" class="links">Recipes</a>
            </li>
            <li class="">
                <% if (!auth || !name) { %>

                    <li class="mt-5">
                        <a href="/login" class="text-white">Sign in</a>
                    </li>
            
                    <li class="mt-5">
                        <a href="/register" class=" t-4 text-white">Sign up</a>
                    </li>
                    
                <% } else { %>
                    <div class="dashboard_btn mt-5" >
                        <a href="/dashboard">
                            <span> <%= name %> </span>
                        </a>
                    </div>
                <% } %>
            </li>
        </ul>
    </div>

</nav>

