

<form action="/register" method="post">

    <div class="d-flex justify-content-between gap-4">
        <div class="mb-4 w-100">
            <input type="text" class="form-control" name="firstName" placeholder="First name" autocomplete="name" required>
        </div>
        <div class="mb-4 w-100">
            <input type="text" class="form-control" name="lastName" placeholder="Last name" autocomplete="name" required>
        </div>
    </div>
    
    <div class="mb-4">
        <input type="email" class="form-control" name="email" placeholder="Email address" autocomplete="email" required>
    </div>

    <div class="mb-4">
        <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="name" required>
    </div>
    <div class="mb-4">
        <input type="password" class="form-control" name="passwordConfirm" placeholder="Confirm password" autocomplete="name" required>
    </div>

    <button type="submit" class="btn btn-warning  py-3 w-100">Signup</button>

</form>

